/* [MRF 2022-05-25] imports */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F9F5F1;
}

/* [MRF 2022-05-26] brandon family */
:root {
  --margin-bottom: 1em;
  --font-brandon--black: "Brandon Grotesque Black", sans-serif;
  --font-brandon--light: "Brandon Grotesque Light", sans-serif;
  --padding-section: 0px 20px;
}

/* start [MRF 2022-05-25] global styles */
/* [2022-05-25] secondary button */
.secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 45px;
  gap: 10px;
  width: 100%;
  height: 56px;
  background: #323232;
  border-radius: 4px;
  /* [MRF 2022-05-24] comment styles */
  color: #F9F5F1;
  text-decoration: none;
  /* Desktop/Subtitle */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
}

/* [2022-05-25] primary button */
.primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 45px;
  gap: 10px;
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  height: 56px;
  text-decoration: none;
  border: 2px solid #323232;
  color: #323232;
  border-radius: 4px;
  /* [MRF 2022-05-24] comment styles */
  /* Desktop/Subtitle */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
}

/* [2022-05-25] paragraph */
p {
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  margin-bottom: var(--margin-bottom);
  /* Desktop/Text */
  font-family: "Baskervville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 0.02em;
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
p span {
  color: #B8920C;
}

/* Start [MRF 2022-05-26] header */
#header {
  background-color: transparent;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  padding: 0em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#header .menu {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#header .menu .logo {
  padding: 0em 0.7em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  height: 64px;
  background-color: #F9F5F1;
}
#header .menu .logo .btn-menu {
  text-decoration: none;
  align-self: center;
  margin-right: 10px;
  width: 42px;
  height: 42px;
}
#header .menu .logo .btn-menu i {
  font-size: 2.3rem;
  color: #323232;
  position: relative;
  top: 2.5px;
  left: 2.4px;
}
#header .menu .logo img {
  width: 40px;
  height: 20px;
  margin: 20px 5px;
}

.menu .enlaces {
  display: inline-block;
  text-align: right;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #323232;
  height: 100vh;
  width: 100vw;
  padding-top: 64px;
  z-index: 5;
}
.menu .enlaces .enlaces__first-block a {
  font-family: var(--font-brandon--light);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 113%;
  /* identical to box height, or 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  /* White */
  text-decoration: none;
  color: #F9F5F1;
  text-align: center;
  margin: 24px 0px;
  width: 100%;
}
.menu .enlaces .social-media-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 128px;
}
.menu .enlaces .social-media-container a {
  margin-right: 9.6px;
}

/* end [MRF 2022-05-25] global styles */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 128px 0px 16px 0px;
  height: auto;
  position: absolute;
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  left: 0px;
  top: 0px;
  overflow-x: hidden;
}
.content .intro {
  max-width: 400px;
  padding: var(--padding-section);
}
.content .intro h1 {
  /* Title */
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  /* CV & Cover letter/Title */
  font-family: "Brandon Grotesque Black", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0.7em;
}
.content .intro p {
  height: 72px;
}
.content .intro img {
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  border-radius: 4px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0.7em;
}
.content .intro .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  /* [MRF 2022-05-24] width to 100% */
  height: 88px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.content .intro .buttons .link {
  /* Text */
  width: 350px;
  height: 16px;
  width: 100%;
  /* Desktop/Link */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.content .designs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 256px 0px 256px 0px;
  max-width: 375px;
  max-width: 400px;
  width: 100%;
  /* [MRF 2022-05-26] carousel styles */
  /* [MRF 2022-05-26] ui challenge */
}
.content .designs h2 {
  /* Title */
  width: 100%;
  height: 33px;
  margin-bottom: 128px;
  /* Desktop/Title */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 450;
  font-size: 28px;
  line-height: 115%;
  /* identical to box height, or 32px */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* Black */
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.content .designs .description {
  padding: var(--padding-section);
  max-width: 400px;
}
.content .designs .description h3 {
  width: 100%;
  height: 16px;
  margin-bottom: 16px;
  max-width: 375px;
  /* Desktop/Subtitle */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content .designs .description h3::after {
  content: "";
  width: 138px;
  height: 1px;
  position: absolute;
  background-color: #323232;
  left: 14.5rem;
}
.content .designs .description p {
  height: 96px;
}
.content .designs .description .secondary {
  margin-bottom: 96px;
}
.content .designs .description .detail {
  text-align: center;
  height: 48px;
}
.content .designs .description .content-icon {
  text-align: center;
  height: 24px;
  font-size: 1.3em;
  margin-bottom: 64px;
}
.content .designs .description .website h4 {
  width: 100%;
  height: 16px;
  /* Desktop/Link */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  color: #323232;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: var(--margin-bottom);
}
.content .designs .description .website .senderos {
  height: auto;
  margin-bottom: 64px;
}
.content .designs .description .website .senderos span {
  color: #323232;
  font-style: italic;
}
.content .designs .description .website .aislaciones {
  height: 192px;
  margin-bottom: 136px;
}
.content .designs .description .case-studies-title::after {
  content: "";
  width: 205px;
  height: 1px;
  position: absolute;
  background-color: #323232;
  left: 10.5rem;
}
.content .designs .description .case-studies-paragraph {
  margin-bottom: 32px;
}
.content .designs #carousel-design {
  padding: var(--padding-section);
}
.content .designs #carousel-design .carousel-control-next i {
  position: relative;
  color: #323232;
  font-size: 3.5rem;
  top: -15rem;
}
.content .designs #carousel-design .carousel-control-next {
  right: 0.5rem;
}
.content .designs #carousel-design .humand-paragraph,
.content .designs #carousel-design .crossfit-paragraph {
  height: 220px;
}
.content .designs #carousel-design .carousel-inner img {
  height: 260px;
}
.content .designs #carousel-design .carousel-inner .logo-slider {
  width: 100%;
  height: 58px;
  margin-bottom: var(--margin-bottom);
}
.content .designs #carousel-design .carousel-inner .primary {
  margin-bottom: 128px;
}
.content .designs #carousel-design .carousel-inner .primary img {
  width: 40px;
  height: 40px;
}
.content .designs .ui-challenge {
  max-width: 400px;
  background-color: #323232;
  padding: var(--padding-section);
}
.content .designs .ui-challenge .ui-challenge-title {
  width: 100%;
  height: 16px;
  margin-top: 64px;
  /* Desktop/Link */
  font-family: var(--font-brandon--black);
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-feature-settings: "liga" off;
  /* Black */
  color: #F9F5F1;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: var(--margin-bottom);
}
.content .designs .ui-challenge .ui-challenge-title::after {
  content: "";
  width: 205px;
  height: 1px;
  position: absolute;
  background-color: #F9F5F1;
  left: 10.5rem;
}
.content .designs .ui-challenge p {
  color: #F9F5F1;
}
.content .designs .ui-challenge img {
  width: 350px;
  width: 100%;
  height: 144px;
  margin-bottom: 10px;
}
.content .designs .ui-challenge .primary {
  border: 2px solid #F9F5F1;
  color: #F9F5F1;
  margin-bottom: 64px;
}
.content .designs .ui-challenge .primary img {
  width: 40px;
  height: 40px;
}
.content .u-nerd {
  padding: var(--padding-section);
  margin-bottom: 256px;
}
.content .u-nerd img {
  margin: 0px auto;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-bottom);
}
.content .u-nerd p {
  text-align: center;
  margin-bottom: 32px;
}
.content .u-nerd .container-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content .u-nerd .container-buttons .primary,
.content .u-nerd .container-buttons .secondary {
  width: 260px;
  padding: 0;
}
.content .u-nerd .container-buttons .primary {
  margin-bottom: 8px;
}
.content footer {
  padding: var(--padding-section);
  max-width: 400px;
  width: 100%;
}
.content footer .container-links {
  margin-bottom: 64px;
  height: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content footer .container-links a {
  font-family: "Baskervville", serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: #323232;
}
.content footer .container-links a img {
  line-height: 31.2px;
  line-height: 130%;
  margin-top: -0.5rem;
}
.content footer hr {
  width: 100%;
  height: 2px;
  color: #323232;
  margin-bottom: 64px;
}
.content footer .ellipses-container {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content footer .ellipses-container .ellipse {
  border: 1px solid #323232;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 9.8px;
}

/*# sourceMappingURL=styles.css.map */
